<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Create Order</title>
  <!-- SEO: Add meta theme-color -->
  <meta name="theme-color" content="#006EA8" />
  <!--Google Fonts: Nunito-->
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <%- include('./partials/bootstrap')%>
  <!--CSS-->
  <link href="/public/assets/app.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #006ea8">
  <div class="container">
    <div id="home" class="flex-center flex-column">
      <h2>Create Order</h2>
      <form method="POST">
        <input type="hidden" value="<%= UserId %>" name="UserId">
        <% products.forEach(product => {%>
        <% const {id, name, price, stock} = product.dataValues %>
        <div class="<%= name %>">
          <div>
            <% if (id === 1) { %>
            <img src="/public/assets/plainMiruhi.png" alt="Plain Milk" />
            <% } else if (id === 2) { %>
            <img src="/public/assets/chocolateMiruhi.png" alt="Chocolate Milk" />
            <% } else if (id === 3) { %>
            <img src="/public/assets/strawberryMiruhi.png" alt="Strawberry Milk" />
            <% } %>
          </div>
          <div><%= name %></div>
          <div>Price: <%= addCurrency(price) %></div>
          <div>Stock left: <%= stock %></div>
          <div class="form-group">
            <p><strong>Quantity</strong></p>
            <input type="number" placeholder="0" min="0" max="<%= stock %>" step="1" id="quantity" name="<%= id %>" />
          </div>
        </div>
        <% }) %>
        <button type="submit" class="btn btn-primary">Submit Order</button>
      </form>
      <a class="btn" href="/users/dashboard">Cancel</a>
    </div>
  </div>
</body>

</html>