<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <meta name="keywords"
    content="HTML, CSS, JavaScript, E-Commerce, Node.js, Sequelize, Express.js, Web, Apps, Hacktiv8">
  <!-- SEO: Add description here -->
  <meta name="description" content="Miruhi | Premium Milk Delivery" />
  <meta name="author" content="Andreas Sosilo">
  <meta name="title" property="og:title" content="Miruhi - Premium Milk Delivery">
  <meta property="og:type" content="Website">
  <meta name="image" property="og:image"
    content="https://raw.githubusercontent.com/andreassosilo/miruhi-premium-milk-delivery/master/public/assets/miruhiHome.png">
  <meta name="description" property="og:description"
    content="An e-commerce web app for final project phase 1 - batch 34 (Humble Fox) at Hacktiv8 Coding Bootcamp">
  <meta property="og:url" content="https://github.com/andreassosilo/miruhi/blob/master/README.md" />
  <!-- SEO: Add meta theme-color -->
  <meta name="theme-color" content="#006EA8" />
  <!--Google Fonts: Nunito-->
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <%- include('./partials/bootstrap')%>
  <!--CSS-->
  <link href="/public/assets/app.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #006ea8">
  <div class="container">
    <div id="home" class="flex-center flex-column">
      <img src="/public/assets/miruhiHome.png" alt="Miruhi Logo" />
      <h1>miruhi</h1>
      <h4>Premium Milk at Your Door</h4>
      <div class="card bg-light">
        <h5 class="card-header text-white bg-dark">Order Confirmation</h5>
        <div class="card-body">
          <h5 class="card-title text-dark">Hello, <%= name %>!</h5>
          <p class="card-text text-dark">Thank you for your Miruhi order.</p>
          <p class="card-text text-dark">Order No.: <%= products[0].OrderId %></p>
          <p class="card-text text-dark">Product information:</p>
          <% products.forEach(product => {%>
          <p class="card-text text-dark"><%= product.quantity %>x <%= product.Product.name %></p>
          <% }) %>
        </div>
      </div>
      <br>
      <a class="btn" href="/users/dashboard">Go Back</a>
    </div>
  </div>
  <!--Bootstrap 4: JQuery, Popper, JS-->
  <%- include('./partials/bootstrapComponents')%>
</body>

</html>