<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Order</title>
  <meta name="keywords"
    content="HTML, CSS, JavaScript, E-Commerce, Node.js, Sequelize, Express.js, Web, Apps, Hacktiv8">
  <!-- SEO: Add description here -->
  <meta name="description" content="Miruhi | Premium Milk Delivery" />
  <meta name="author" content="Andreas Sosilo">
  <meta name="title" property="og:title" content="Miruhi - Premium Milk Delivery">
  <meta property="og:type" content="Website">
  <meta name="image" property="og:image"
    content="https://raw.githubusercontent.com/andreassosilo/miruhi-premium-milk-delivery/master/public/assets/miruhiHome.png">
  <meta name="description" property="og:description"
    content="An e-commerce web app for final project phase 1 - batch 34 (Humble Fox) at Hacktiv8 Coding Bootcamp">
  <meta property="og:url" content="https://github.com/andreassosilo/miruhi/blob/master/README.md" />
  <!-- SEO: Add meta theme-color -->
  <meta name="theme-color" content="#006EA8" />
  <!--Google Fonts: Nunito-->
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <%- include('./partials/bootstrap')%>
  <!--CSS-->

</head>

<body style="background-color: #006ea8">
  <div class="container">
    <div id="home" class="flex-center flex-column">
      <h2 style="color: white">View Order History</h2>
      <a class="btn" href="/users/dashboard">Go Back</a>
      <br>

      <div class="card-columns">
        <% orders.forEach(order => {%>
        <div class="card border-dark mb-3">
          <div class="card-header text-white bg-dark">
            Order No.: <%= order.id%>
          </div>
          <ul class="list-group list-group-flush">
            <% order.dataValues.OrderProducts.forEach((orderProduct, i) => {%>
            <li class="list-group-item text-dark">
              <strong> OrderProductId: <%= orderProduct.OrderId %></strong>
              <br>
              <%= orderProduct.quantity %>x <%= order.dataValues.Products[i].name %>
              <br>
              Sub-total: <%= addCurrency(order.dataValues.Products[i].price * orderProduct.quantity) %>
              <div>
                <button type="button" class="btn btn-success btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
              </div>

            </li>
            <% }) %>
          </ul>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
  <!--Bootstrap 4: JQuery, Popper, JS-->
  <%- include('./partials/bootstrapComponents')%>
</body>

</html>